node_modules/
config.json
info.json
info.json
info.json
roles.json
*.log
warnings.json
Korral.code-workspace
.vscode/launch.json
memeValues.json
userNotes.json
config.js
config.ts
src/index.js
src/commands/user.js
src/commands/support.js
src/commands/moderation.js
src/commands/custom.js
src/commands/meme.js
